@model WebUI.ViewModels.EscolaViewModel

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {

}

@section Scripts {

    <script type="text/javascript">
        $(".confirmDelete").confirm({

            text: "Deseja realmente excluir este item?",
            confirm: function (button) {

                $('#LoadingModal').modal({ backdrop: 'static', keyboard: false });
                //$("#cod").val($(button).attr("item-id"))
                //$("#DeleteForm").submit();

                var data = { cod: $(button).attr("data-id") };
                var action = $(button).attr("data-action");
                //alert(JSON.stringify(data) + "#" + JSON.stringify(action));
                var fsuccess = function (response) {

                    location.reload(true);
                }

                postData(action, data, fsuccess);
            },
            cancel: function (button) {

                //Do nothing
            },
            confirmButton: "Sim",
            cancelButton: "N&#227o"
        });
    </script>

}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Escolas <small>Lista</small>
        </h1>

        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-users"></i> Escolas
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<!-- Start feedback message code -->

@RenderPage("~/Views/Shared/_Messages.cshtml")

<form name="ListaForm" id="ListaForm" action="/Escolas/Lista" method="post" role="form">
    @Html.AntiForgeryToken()
    <div class="row">

        <div class="col-md-6">

            <div class="form-group">
                <label>Nome</label>
                <input type="text" name="nome" class="form-control" />
            </div>

            <div class="form-group pull-right">
                <button type="reset" class="btn btn-default" onclick="document.getElementById('ListaForm').submit()">Buscar</button>
                <button type="reset" class="btn btn-default" onclick="location.href='/Escolas/Novo'">Novo</button>
            </div>

        </div>

        <div class="col-md-6"></div>

    </div>

</form>

<div class="row">
    @if (Model.Escolas != null)
    {
        <div class="col-md-6 table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th class=""></th>
                        <th class=""></th>
                        <th class="col-md-6">Nome</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Escolas.Count() == 0)
                    {
                        <tr>
                            <td colspan="4"><label>Nenhum registro encontrado</label></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model.Escolas)
                        {
                            <tr>
                                <td style="text-align: center;"><i class="glyphicon glyphicon-remove confirmDelete" data-id="@item.ID" data-action="/Escolas/Excluir/" style="cursor:pointer;"></i></td>
                                <td style="text-align: center;"><span onclick="location.href='/Escolas/Alterar/@item.ID'" class="glyphicon glyphicon-pencil" style="cursor:pointer;" /></td>
                                <td>@item.Nome</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    }
</div>
