@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SARE Web - Autenticação</title>

    <!-- Bootstrap Core CSS -->
    <link href="/content/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/content/dist/css/main.css" rel="stylesheet">
</head>

<body>

    <div class="login-page h-100">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-sm-offset-4 col-sm-4 bg-white box-shadow">
                    <div class="sidebar-logo">
                        <img class="sidebar-logo__img" src="~/Content/Images/logo.png" alt="sare-logo">
                    </div>

                    <form class="form-login form-horizontal" method="post" action="/App/Login/" accept-charset="UTF-8">
                        @Html.AntiForgeryToken()
                        <h3 class="badge badge-important text-center"></h3>

                        <div>
                            <input class="form-control" type="text" id="username" name="username" placeholder="Usuário" value="admin" required autofocus>

                            <input class="form-control" type="password" id="password" name="password" placeholder="Senha" value="123456" required>
                        </div>

                        <button type="submit" name="submit" class="btn btn-lg btn-block">Entrar</button>

                        @*<div class="btn btn-lg btn-block show-signup">Cadastrar-se</div>*@

                        <!-- Start feedback message code -->

                        @RenderPage("~/Views/Shared/_Messages.cshtml")

                        <!-- End feedback message code -->

                    </form>

                    @*<form class="form-signup form-horizontal hide" method="post" action="/signup" accept-charset="UTF-8">
                        <div>
                            <input class="form-control" type="text" id="firstName" name="firstName" placeholder="Nome" autofocus>

                            <input class="form-control" type="text" id="lastName" name="lastName" placeholder="Sobrenome">

                            <input class="form-control" type="email" id="newEmail" name="newEmail" placeholder="Usuário">

                            <input class="form-control" type="password" id="newPassword" name="newPassword" placeholder="Senha">
                        </div>
                        <div class="button-group">
                            <a class="btn btn-lg back-tologin">Voltar</a>
                            <button type="submit" name="submit" class="btn btn-lg">Cadastrar</button>
                        </div>

                    </form>*@


                    <!-- Modal -->
                    @*<div class="modal fade" id="remember" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form action="/Login/EsqueciSenha/" method="post">
                                    @Html.AntiForgeryToken()
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Digite seu e-mail para receber a senha</h4>
                                    </div>
                                    <div class="modal-body">

                                        <div class="form-group">

                                            <label>E-Mail</label>
                                            <input type="email" name="rememberemail" id="rememberemail" required class="form-control" />

                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>*@

                </div>
            </div>
        </div>

    </div> <!-- /container -->

    <!-- jQuery -->
    <script src="/content/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/content/bootstrap/js/bootstrap.min.js"></script>

    <!-- Other scripts -->
    <script>
        $('.show-signup').on('click', function () {
            $('.form-login').addClass('hide');
            $('.form-signup').removeClass('hide');
        });
        $('.back-tologin').on('click', function () {
            $('.form-signup').addClass('hide');
            $('.form-login').removeClass('hide');
        });
    </script>

</body>
</html>